:root {
    --navy: #0a192f;
    --light-navy: #112240;
    --red: #ff2400;
    --gray: #C5C6D0;
    --red-tint: rgba(255,36,0,0.15);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    background-color: var(--navy);
    overflow-x: hidden;
}

/*---- Mouse Trail ----*/
.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
    opacity: 1;
}
.circle {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-color: var(--red);
    pointer-events: none;
}
.invisible {
    opacity: 0;
}

/*---- Nav Bar ----*/
header nav li,header nav a, header span button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--gray);
    text-decoration: none;
}

#resume-li {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.logo {
    width: 50px;
    opacity: 1;
}

.mobile-nav-toggle {
    display: none;
}

.nav-bars-text {
    visibility: hidden;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a::after {
    content: '';
    width: 0;
    height: 2.8px;
    background: var(--red);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_links li a::before {
    content: '';
    width: 0;
    height: 2.8px;
    display: block;
    margin: auto;
}

.nav_links li a:hover {
    color: var(--red);
}

@media(min-width: 700px) {
    .nav_links li a:hover::after {
        width: 100%;
    }
}

header span button {
    padding: .30rem .8rem;
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 6px;
    transition: var(--transition);
}

header span button:hover {
    background-color: var(--red);
    background-color: var(--red-tint);
    outline: none;
}

/*---- Hover Effects ----*/
@keyframes scale {
    from, to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(250deg);
    }
}

header > .magic {
display: inline-block;
position: relative;
}

header > .magic > .magic-star {
    --size: clamp(15px, 1.2vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

header > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.9;
}

header > .magic > .magic-star > svg > path {
    fill: var(--red);
}

/*---- Mobile Nav ----*/
@media(max-width: 700px) {
    header {
        padding: 3% 6%;
    }
    nav {
        z-index: 1;
        position: fixed;
        inset: 0 0 0 40%;
        box-shadow: -4px 0px 10px 1px rgba(0,0,0,0.2);
        padding: 3% 6%;
        background: var(--light-navy);
        flex-direction: column;
        padding: 20% 0;
        transform: translateX(100%);
        transition: var(--transition);
    }
    nav[data-visible="true"] {
        transform: translateX(0%);
        overflow-y: hidden;
    }
    .nav_links li {
        padding: 2rem 0px;
        display: block;
        text-align: center;
    }
    header nav li, header nav a {
        font-size: 5vw;
    }
    #resume-li {
        display: block;
    }
    button {
        display: none;
    }
    div[data-visible="true"] {
        z-index: -1;
        filter: blur(6px);
        transition: var(--transition);
        overflow-y: hidden;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("assets/images/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.6rem;
        right: .9rem;
    }
}
@media (pointer:none), (pointer:coarse) {
    .cursor {
        opacity: 0;
    }
}

/*---- Hero Section ----*/
.hero {
    padding: 3rem;
}
