:root {
    --navy: #0a192f; /*#0a192f -- #010812*/
    --red: #ff2400;
    --light-navy: #112240;
    --gray: #C5C6D0;
    --red-tint: rgba(255,36,0,0.15);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --light-red1: #FF3211;
    --light-red2: #FF4122;
    --light-red3: #FF4F33;
    --light-red4: #FF5D43;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    background-color: var(--navy);
    overflow-x: hidden;
}

/*---- Mouse Trail ----*/
.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
    opacity: 1;
}
.circle {
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    background-color: var(--red);
    pointer-events: none;
}
.invisible {
    opacity: 0;
}

/*---- Nav Bar ----*/
header nav li,header nav a, header span button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--gray);
    text-decoration: none;
}

#resume-li {
    display: none;
}

header {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
    width: 100%;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.logo {
    width: 50px;
    aspect-ratio: 1;
    opacity: 1;
}

.mobile-nav-toggle {
    display: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a::after {
    content: '';
    width: 0;
    height: 2.8px;
    background: var(--red);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_links li a::before {
    content: '';
    width: 0;
    height: 2.8px;
    display: block;
    margin: auto;
}

.nav_links li a:hover {
    color: var(--red);
}

@media(min-width: 700px) {
    .nav_links li a:hover::after {
        width: 100%;
    }
}

header span button {
    padding: .30rem .8rem;
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 6px;
    transition: var(--transition);
}

header span button:hover {
    background-color: var(--red);
    background-color: var(--red-tint);
    outline: none;
}

/*---- Hover Effects ----*/
@keyframes scale {
    from, to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(250deg);
    }
}

header > .magic {
display: inline-block;
position: relative;
}

header > .magic > .magic-star {
    --size: clamp(15px, 1.2vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

header > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.9;
}

header > .magic > .magic-star > svg > path {
    fill: var(--red);
}

/*---- Mobile Nav ----*/
@media(max-width: 700px) {
    header {
        padding: 3% 6%;
        height: 65px;
    }

    nav {
        z-index: 1;
        position: fixed;
        inset: 0 0 0 40%;
        box-shadow: -4px 0px 10px 1px rgba(0,0,0,0.2);
        padding: 3% 6%;
        background: var(--light-navy);
        flex-direction: column;
        padding: 20% 0;
        transform: translateX(100%);
        transition: var(--transition);
    }

    nav[data-visible="true"] {
            transform: translateX(0%);
            overflow-y: hidden;
        }

    .logo {
        width: 40px;
    }

    .nav_links li {
        padding: 2rem 0px;
        display: block;
        text-align: center;
    }

    header nav li, header nav a {
        font-size: 5vw;
    }

    #resume-li {
        display: block;
    }

    button {
        display: none;
    }

    section[data-visible="true"] {
        filter: blur(6px);
        transition: var(--transition);
    }

    html[data-visible="true"] {
        overflow-y: hidden;
    }

    /*---- Nav Bars Icon ----*/
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 30px;
        height: 25px;
        right: 20px;
        top: 20.5px;
        z-index: 200;
    }
    .nav-icon {
        display: inline-block;
        position: relative;
        width: 28px;
        height: 3px;
        background-color: var(--red);
        transition-property: background-color, transform;
        transition-duration: 200ms;
    }
    .nav-icon:before, .nav-icon:after {
        content: '';
        display: block;
        width: 28px;
        height: 3px;
        position: absolute;
        background: var(--red);
        transition-property: margin, transform;
        transition-duration: 200ms;
    }
    .nav-icon:before {
        margin-top: -10px;
    }
    .nav-icon:after {
        margin-top: 10px;
    }
    .mobile-nav-toggle[aria-expanded="true"] .nav-icon {
        background: rgba(0,0,0,0);
        transform: rotate(135deg);
    }
    .mobile-nav-toggle[aria-expanded="true"] .nav-icon:before {
        margin-top: 0;
        transform: rotate(90deg);
    }
    .mobile-nav-toggle[aria-expanded="true"] .nav-icon:after {
        margin-top: 0;
        transform: rotate(180deg);
    }
    /*-----------------------*/
}
@media (pointer:none), (pointer:coarse) {
    .cursor {
        opacity: 0;
    }
}

/*---- Hero Section ----*/
.hero {
    z-index: 1;
    padding: 0 150px 0 150px;
    margin: 0 150px 0 150px;
    font-family: Circular Pro Medium,sans-serif;
    text-decoration: none;
}
.hero .content {
    margin: 0 150px 0 150px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 89vh;
    height: 100vh;
    padding: 0px;
}
.hero div h1{
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--gray);
}
.hero div h2{
    font: inherit;
    font-size: 80px;
    font-weight: bold;
    color: var(--gray);
}
.name-is {
    animation: background-pan 2s linear infinite;
    background: linear-gradient(
        to right,
        var(--red),
        var(--light-red1),
        var(--light-red2),
        var(--light-red3),
        var(--light-red4),
        var(--red)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.about-me {
    width: 55%;
    margin-top: 30px;
}
.about-me p {
    font-family: Circular Pro Medium,sans-serif;
    font-size: 18px;
    color: white;
    opacity: .5;
}
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
